.img-logo {
    width: 73%;
    height: fit-content;

}

.container-input {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;

    input {
        display: flex;
        max-width: 100%;
    }

}

.form-cadastrar {
    gap: 20px;
    padding: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.row-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 100%;
    height: 80%;
    justify-content: space-between;
}

.list-usuario-empresas {
    background-color: #8095bf;
    width: 95%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 100%;
    border: solid 2px;
    padding: 5px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.button-funcionario {
    width: 100%;
    background-color: #8095BF;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: 'Oswald';
    font-size: 1em;
    margin-top: 20px;
    cursor: pointer;
}

.campos-cadastrar {
    gap: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.button-cadastrar:hover {
    background-color: #32415f;
    /* Altera a cor de fundo ao passar o mouse */
}

.button-cadastrar:active {
    transform: scale(0.96);
    /* Diminui o tamanho quando clicado */
}

.opcaoEmpresa {
    font-size: 1.2em;
    line-height: 1.5em;
}

#fecharCadFunc {
    position: absolute;
    z-index: 3;
    width: 15px;
    height: 15px;
    right: 10px;
    top: 10px;

    .line1,
    .line2 {
        position: absolute;
        width: 2px;
        background-color: white;
    }

    .line1 {
        top: 0;
        left: 50%;
        height: 100%;
        transform: rotate(45deg);
    }

    .line2 {
        top: 0;
        left: 50%;
        height: 100%;
        transform: rotate(-45deg);
    }

}

@media only screen and (max-width: 1000px) {
    .container-formulario {
        width: 50%;
        height: 60%;
    }

    .button-cadastrar {
        font-size: 2.5vw;
    }

    .img-logo {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .img-logo {
        width: 70%;
    }

    .button-cadastrar {
        font-size: 3vw;
    }
}

.listFunc {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.campos-editar {
    width: 50%;
}

.form-editar {
    display: flex;
    width: 65%;
    flex-direction: column;
}

.editar{
    width: 100%;
}

.titulo-form {
    font-size: 18px;
    width: 100%;
    padding: 10px 0;
    border-bottom: solid 2px white;
}