*{
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: 'Oswald';
    src: url(../assets/fonts/Oswald-Bold.ttf);
}
@font-face {
    font-family: 'OswaldLight';
    src: url(../assets/fonts/Oswald-ExtraLight.ttf);
}

@font-face {
    font-family: 'Merriweather-Sans';
    src: url(../assets/fonts/MerriweatherSans-Regular.otf);
}


header{
    
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 6;
    .menu-items{
        display: none;
    }
    .containerHamburguer{
        display: none;
    }
   
    

}
.menu{
    display: none;
}
.navbar{
    height: 9.5vh;
    display: flex;
    justify-content: space-between;
    background-color: #0A1C40;
    width: 98%;
    align-items: center;
    color: white;
    border-radius: 30px;
    z-index: 9;
    & .hamburguer-lines{
        display: none;
    }

    & .hamburger{
        display: none;
    }

    & .checkbox{
        display: none;
    }

    & .container{
        display: flex;
        
    & ul{
        display: flex;
        list-style: none;
        justify-content: flex-end;
        align-items: center;
        margin-right: 5vw;
        column-gap: 2vw;
        & li{
           font-family: "Merriweather-Sans";
           font-optical-sizing: auto;
           font-weight: 500;
           font-style: bold;
           font-size: 18px;
           cursor: pointer;
           & a{
            text-decoration: none;
            color: white;
           } 
           
          
        }
        & button{
           border-color: #143577;
           width: 80px;
           height: 40px;
           background-color: #0A1C40;
           color: white;
           font-family: "Oswald";
           font-optical-sizing: auto;
           font-weight: 500;
           font-style: bold;
           font-size: 18px;
           
        }
       
    }
    }
    & img {
        width: 150px;
        margin-left: 2vw;
    }
   
}


