@media (max-width:1200px) {

    .paginaInicial {
        height: 80vh;
        & #arrow{
            position: absolute;
            top: 90vh;
            z-index: 3;
            width:  5%;
        }
        & h1 {
            font-size: 150%;
            margin: 3vh;
        }
    }

    .pagina {

        & .transicao {
            height: 100px;
        }

        & .container {
            display: flex;
            align-items: center;

            & .retangulo {
                display: block;
                width: 8vw;
                height: 40%;
            }

            & .imgPag {
                display: none;
            }

            & .text {
                font-size: 110%;
                margin: 0 10vw 0 5vw;

                & h1 {
                    font-size: 30px;

                }

            }
        }
    }

    .quarta {

        & .container {
            gap: 50px 30px;
        }

        & .planos {
            height: 200%;
            width: 267px;
        }
    }
    .quinta {

        & .container {
      
            & .containerWrap {
                width: 100%;
                gap: 30px;
    
                & .containerInput {
                    width: 100%;
                    input{
                        width: 100%;
                    }

                }
            }
        }
    }
    footer{
        font-size: 20px;
        gap: 15vw;
    
        & .container{
            margin: 0 2vw;
        }
    }

}
@media (max-width:600px) {

    footer{
        font-size: 15px;
        gap: 0 2vw;
    
        & .container{
            margin: 0 1vw;
        }
    }

}
