body{
    background-color: rgb(32, 32, 32);  
}

.img-logo{
    width: 73%;
    height: fit-content;
    margin: 50px 0;
    
}

.container-input{
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    input{
        display: flex;
        max-width: 100%;
    }
   
}


.form{
    gap: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    text-align: center;
}
.row-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    justify-content: space-around;
}

.list-empresas{

    background-color: #8095bf;
  width: 100%;
  justify-content: center;
  overflow: auto;
  border: solid;
  height: 89%; 
}

.button-cadastrar{
    width: 100%;
    margin-top: 50px;
    padding: 10px 5px;
    background-color: #4D628C;
    font-family: oswald;
    font-size: 21px;
    text-shadow: 0.5px 0.5px white;
    color: #8095BF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-aplicar{
    width: 100%;
    margin-top: 50px;
    padding: 10px 5px;
    background-color: #4D628C;
    font-family: oswald;
    font-size: 21px;
    text-shadow: 0.5px 0.5px white;
    color: #8095BF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.formulario{
    gap: 20px;
   justify-content: center;
   display: flex;
   align-items: start;
   flex-direction: column;
   width: 83%;
   height: 100%;
}

.button-cadastrar:hover {
    background-color: #32415f; /* Altera a cor de fundo ao passar o mouse */
}   

.button-cadastrar:active {
    transform: scale(0.96); /* Diminui o tamanho quando clicado */
}

#fecharCadFunc{
    position: absolute;
    z-index: 3;
    width: 15px;
    height: 15px;
    right: 10px;
    top: 10px;

    .line1, .line2 {
        position: absolute;
        width: 2px;
        background-color: white;
      }
      
      .line1 {
        top: 0;
        left: 50%;
        height: 100%;
        transform: rotate(45deg);
      }
      
      .line2 {
        top: 0;
        left: 50%;
        height: 100%;
        transform: rotate(-45deg);
      }
      .listFunc{
        font-size: 15px;
      }
}


@media only screen and (max-width: 1000px) {
    .container-formulario{
    
        width: 50%;
        height: 60%;
        

    }
    .button-cadastrar{
        font-size: 2.5vw;
       
    }
    .img-logo{
        width: 50%;
    }
}  
@media only screen and (max-width: 600px) {
    .img-logo{
        width: 70%;
    }
    .button-cadastrar{
        font-size: 3vw;
       
    }
}