* {
    padding: 0px;
    margin: 0px;
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #16294e;
}



.paginaInicial {

    position: relative;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;

    & h1 {
        color: white;
        font-family: "Merriweather-Sans";
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: bold;
        font-size: 50px;
        margin: 25vw;
        text-align: center;
    }


}

.pagina {
    position: relative;
    display: flex;
    min-height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;


}

.segunda {
    & .transicao {
        z-index: 4;
        position: absolute;
        background-image: url(../assets/Transicao-tela1-tela2.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 341px;
        width: 100vw;
        bottom: 97vh;

    }

    & .container {
        display: flex;

        & .retangulo {
            width: 20vw;
            height: 70vh;
            align-self: center;
        }

        & img {
            margin-top: 2vh;
            align-self: flex-end;
            margin-right: 6vw;
            width: 38vw;
            mix-blend-mode: luminosity;

        }

        & .text {
            margin: 25vh 10vw 0 5vw;
            color: white;
            font-family: "OswaldLight";
            font-size: 30px;

            & strong {
                font-weight: 1000px;
            }

            & h1 {
                margin-bottom: 3vh;
                font-family: "Oswald";
            }

        }
    }
}

.terceira {
    & .transicao {
        z-index: 4;
        position: absolute;
        background-image: url(../assets/Transicao-tela2-tela3.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        width: 100vw;

    }

    & .container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8vw;
        margin: 10vw;


        & img {
            width: 38vw;
            mix-blend-mode: luminosity;
        }

        & .text {
            color: white;
            font-family: "OswaldLight";
            font-size: 30px;

            & strong {
                font-weight: 1000px;
            }

            & h1 {
                margin-bottom: 3vh;
                font-family: "Oswald";
            }

        }
    }
}

.quarta {
    flex-direction: column;
    align-items: center;
    display: flex;
    font-family: "oswald";
    color: white;
    font-size: 25px;

    & h1 {
        margin-top: 2vh;
    }


    & .transicao {
        z-index: 4;
        position: absolute;
        background-image: url(../assets/Transição-tela3-tela4.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 196px;
        width: 100vw;
        bottom: 100%;


    }

    & .container {

        display: flex;
        min-height: 600px;
        width: 100vw;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px 30px;



        & .planos {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #8095bf;
            height: 530px;
            width: 343px;
            overflow: hidden;


            font-size: 20px;
            color: #0D1E40;

            & p {
                color: black;
                text-align: center;
                font-family: "OswaldLight";
                margin: 1vw 2vh;
            }

            & img {
                width: 100%;
                height: 50%;
            }


        }
    }
}

@media (max-width:1100px) {

    .paginaInicial {

        & h1 {
            font-size: 20px;
            margin: 10vh;
        }
    }

    .pagina {

        & .transicao {
            height: 100px;
        }

        & .container {
            display: flex;

            & .retangulo {
                display: block;
                width: 8vw;
                height: 20vh;
                margin-bottom: 70vh;
            }

            & .imgPag {
                display: none;
            }

            & .text {
                font-size: 20px;

                & h1 {
                    font-size: 30px;

                }

            }
        }
    }

    .terceira {}

    .quarta {

        & .container {
            gap: 50px 30px;
        }

        & .planos {
            height: 427px;
            width: 267px;
        }
    }


}