html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Reset HTML */

@font-face {
    font-family: 'Oswald';
    src: url(../assets/fonts/Oswald-Bold.ttf);
}

@font-face {
    font-family: 'OswaldLight';
    src: url(../assets/fonts/Oswald-ExtraLight.ttf);
}

@font-face {
    font-family: 'Merriweather-Sans';
    src: url(../assets/fonts/MerriweatherSans-Regular.otf);
}


.bg-layout {
    background-color: #E4E8F1;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.ativo {
    color: #29AB48;
}

.inativo {
    color: #D8474D;
}

.header-box {
    font-size: 1.5em;
    padding: 20px;
    border-bottom: 1px solid #E4E8F1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box .header-box {
    font-size: 1.25em;
    padding: 10px;
}

.status-normal {
    color: #0FCF51;
}

.status-atencao {
    color: #EBB52A;
}

.status-alerta {
    color: #DC2020;
}

.container-layout {
    background-color: #E4E8F1;
    color: white;
    font-family: 'Oswald';
    width: 100%;
    height: 100%;
}

.content-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-layout {
    background-color: #0a1c40;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-layout h1 {
    color: white;
    font-size: 32px;
}

.imgIcon-header {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #0F172A;
}

.container-content {
    padding: 20px;
    height: 75%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.container-tab-layout {
    background-color: #0a1c40;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
}

.display-tab {
    overflow: hidden;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin-bottom: 5px;
    
}

.display-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem ;
    transition: 0.3s;
    color: white;
    font-size: 1em;
    font-family: 'Oswald';
}

.display-tab button:hover {
    background-color: #0F172A;
}

.display-tab button:active {
    background-color: #8095bf;
}

.container-display #Geral .tab-content {
    display: block;
}

.tab-content {
    display: none;
    background-color: rgba(28, 36, 79, 0.6);
    padding: 1rem;
    overflow-y: scroll;
    height: 80%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.tab-content::-webkit-scrollbar {
    display: none;

}

.tab-content h1{
    font-size: 32px;
    margin-bottom: 20px;
}

.layout-config {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.layout-config h3 {
    font-size: 18px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 0;
    border-bottom: solid 2px white;
}

.form-profile-data {
    width: 40%;
}

.form-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-form {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form-right {
    width: 60%;
}

.card-empresa {
    background-color: #0F172A;
    border-radius: 20px;
    padding: 20px;
    color: white;
    font-size: 1.2em;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.logo-empresa {
    width: 200px;
    height: 75px;
}

.logo-empresa img {
    width: 100%;
    height: 100%;
}

.text-empresa span{
    font-size: 0.8em;
}

.container-tab-profile {
    background-color: #0a1c40;
    width: 20%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.profile-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container-tab-profile img {
    height: 200px;
    width: 250px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.text-profile {
    font-family: 'Oswald';
    width: 100%;
    color: white;
}

.text-profile h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.text-profile ul li{
    margin-bottom: 10px;
}

.sistema-container {
    background-color: #0F172A;
    border-radius: 20px;
}

.button-messenger {
    width: 200px;
    background-color: #0F172A;
    border: 1px solid #243764;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-family: 'Oswald';
    font-size: 18px;
}

.button-default {
    width: 125px;
    background-color: #8095BF;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-family: 'Oswald';
    font-size: 1em;
    cursor: pointer;
}

.select-default {
    width: 150px;
    background-color: #8095BF;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Oswald';
    font-size: 1em;
}

.full-size {
    width: 100%;
    background-color: #4D628C;
}

.input-configuracao {
    position: relative;
    border-bottom: 2px solid white;
    width: 250px;
    margin: 30px 0;
}

.input-configuracao label {
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
}

.input-configuracao input {
    position: relative;
    width: 100%;
    height: 30px;
    background: #0F172A;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
}

.input-configuracao input:read-only {
    background-color: transparent;
}


.edit-button {
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
}

.select-painel {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-family: 'Oswald';
    font-size: 1em;
    cursor: pointer;
}

.select-painel option {
    background-color: #0C2048;
}

.img-logo {
    width: 73%;
    height: fit-content;

}

.container-input {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;

    input {
        display: flex;
        max-width: 100%;
    }

}

.form-cadastrar {
    gap: 20px;
    padding: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.row-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 80%;
    height: 80%;
    justify-content: space-between;
    /*! align-self: center; */
    left: 50%;
}

.list-usuario-empresas {
    background-color: #8095bf;
    width: 95%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 100%;
    border: solid 2px;
    padding: 5px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    gap: 10px;
    font-size: 130%;
  }
}

.button-funcionario {
    width: 100%;
    background-color: #8095BF;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: 'Oswald';
    font-size: 1em;
    margin-top: 20px;
    cursor: pointer;
}

.campos-cadastrar {
    gap: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.button-cadastrar:hover {
    background-color: #32415f;
    /* Altera a cor de fundo ao passar o mouse */
}

.button-cadastrar:active {
    transform: scale(0.96);
    /* Diminui o tamanho quando clicado */
}

.opcaoEmpresa {
    font-size: 1.2em;
    line-height: 1.5em;
    cursor: pointer;
}

.opcaoEmpresa:hover {
    color: #0F172A;
}

#fecharCadFunc {
    position: absolute;
    z-index: 3;
    width: 15px;
    height: 15px;
    right: 10px;
    top: 10px;

    .line1,
    .line2 {
        position: absolute;
        width: 2px;
        background-color: white;
    }

    .line1 {
        top: 0;
        left: 50%;
        height: 100%;
        transform: rotate(45deg);
    }

    .line2 {
        top: 0;
        left: 50%;
        height: 100%;
        transform: rotate(-45deg);
    }

}

@media only screen and (max-width: 1000px) {
    .container-formulario {
        width: 50%;
        height: 60%;
    }

    .button-cadastrar {
        font-size: 2.5vw;
    }

    .img-logo {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .img-logo {
        width: 70%;
    }

    .button-cadastrar {
        font-size: 3vw;
    }
}

.listFunc {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.campos-editar {
    width: 100%;
}

.form-editar {
    display: flex;
    width: 65%;
    flex-direction: column;
}

.editar{
    width: 100%;
}

.titulo-form {
    font-size: 18px;
    width: 100%;
    padding: 10px 0;
    border-bottom: solid 2px white;
}

.input-column{
    display: flex;
    flex-direction: column;
}
.input-box {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    width: 100%;
    
}
.error-message {
    font-family: oswald;
    font-size: 12px;
    color: red;
}
.list-empresas{
    background-color: #8095bf;
    width: 90%;
    height: 80%;
    justify-content: center;
    overflow-y: scroll;
    border: solid white;
}


.divFilhoEmpresa{
    cursor: pointer;
}